<div *ngIf="game" class="game">
  <div class="game__playground-container">
    <div *ngFor="let playground of game.playgrounds; let playgroundIndex = index; trackBy: trackBy"
         class="game__playground">
      <div class="game__playground-inner">
        <div class="game__playground-actions">
          <app-random-button (clicked)="onGenerateRandomValues(game.id, playgroundIndex)"></app-random-button>
          <app-delete-button (clicked)="onDeleteValues(game.id, playgroundIndex)"></app-delete-button>
        </div>
        <app-number-squares-container
          (selectedChange)="onSelectedChange(game.id, playgroundIndex, $event.value)"
          [id]="playgroundIndex + 1"
          [numberOfSquares]="game.rules.numberOfSquares"
          [selectedValues]="playground[1].selectedValues"
          [squaresPerColumn]="game.rules.squaresPerColumn"
          class="game__playground-squares-container"></app-number-squares-container>
      </div>
    </div>
  </div>

  <div class="game__actions">
    <app-play-button (click)="onPlay()"></app-play-button>
  </div>

  <div *ngIf="isValidityShown && gameValidity" class="game__validity">
    <app-game-validity [gameValidity]="gameValidity"></app-game-validity>
  </div>

</div>
