@use '../../../styles/variables';

:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: variables.$neutral-background-color;
}

.login-card {
  margin: 1rem;
  max-width: 100%;
  max-height: 100%;

  .login-form {
    padding: 1rem 0 0 0;

    .login-form__item-container {
      &:not(:last-of-type) {
        margin: 0 0 0.5rem 0;
      }

      .login-form__item {
        width: 100%;
      }
    }

    .login-form__submit {
      margin: 1rem 0 0 0;
    }
  }
}
