@use '../../../../styles/variables';

// TODO: Auto-sizing of content with https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_container_queries

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$square-color;
  border: variables.$square-border;
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .square__value {
    font-size: 150%;
  }

  .square__value,
  .square__mark {
    line-height: 0;
  }

  .square__mark {
    position: absolute;
    color: variables.$square-mark-color;
    font-size: 300%;
  }
}
